# Building Good Training Sets --- Data Preprocessing

## 1. Dealing with missing data

In [15]:
import pandas as pd
from io import StringIO

csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''


df = pd.read_csv(StringIO(csv_data))
df

    A   B   C   D
0   1   2   3   4
1   5   6 NaN   8
2  10  11  12 NaN

In [16]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True

In [17]:
## number of NAN in each columns
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

## Eliminating samples or features with missing values

In [18]:
# eliminate rows with nan
df.dropna()

   A  B  C  D
0  1  2  3  4

In [19]:
# eliminate columns with nan
df.dropna(axis=1)

    A   B
0   1   2
1   5   6
2  10  11

In [20]:
# eliminate rows with nan in specific column
df.dropna(subset=['C'])

    A   B   C   D
0   1   2   3   4
2  10  11  12 NaN

## Imputing missing values